/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400&family=Poppins:wght@200;300;400;500;600;700;800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

:root {
  --hue: 240;
  --z-modal: 1000;
  --container-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.2s;
}

header .logo:hover {
  letter-spacing: 6px;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: 2;
  transition: 0.5s;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 3em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
}

.text p {
  font-size: 1.5em;
  color: #fff;
  /* color: #feff59; */
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text button {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}

.txt-type > .txt {
  border-right: 0.2rem solid rgb(255, 255, 255);
}

.card-container {
  position: absolute;
  /* background: #353535; */
  background-color: rgba(255, 255, 255, 0.75);
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  z-index: var(--z-modal);
  /* max-width: 500px;
  height: 500px; */
  visibility: hidden;
  opacity: 0;
}

.card-container .card {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 200px;
  padding: 20px;
  overflow: hidden;
  background: #252525;
  /* text-align: center; */
  border-radius: 10px;
  box-shadow: -2px 2px 0px 0px #202020, -10px 10px 40px 0px rgba(0, 0, 0, 0.3);
  z-index: 2;
  transition: all 1s;
}

.card-container .card:hover {
  transform: translate(0px, -20px) rotateX(10deg) rotateZ(-20deg);
  box-shadow: -2px 1px 0px 0px #202020, -40px 40px 40px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.show-modal {
  visibility: visible;
  opacity: 1;
}
.card-container .card h1 {
  color: crimson;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
.card-container .card h1:nth-of-type(2) {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.card-container .card h3 {
  color: crimson;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.card-container .card h3:nth-of-type(2) {
  font-size: 14px;
  font-weight: 400;
}
.card-container .card i {
  margin-right: 5px;
  color: crimson;
}
.card-container .card .circle {
  position: absolute;
  margin: auto;
  top: 10%;
  bottom: 0;
  right: -50%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #202020;
  z-index: -2;
}
.card-container .card .circle:nth-of-type(2) {
  width: 100px;
  height: 100px;
  top: 90%;
  right: -20%;
  z-index: -1;
  background: crimson;
}

@media only screen and (max-width: 780px) {
  .card-container .card {
    width: 250px;
    height: 150px;
    animation: hvr 5s infinite ease-in-out;
    transition: none;
  }
  .card-container .card h1 {
    font-size: 18px;
  }
  .card-container .card h1:nth-of-type(2) {
    font-size: 14px;
  }
  .card-container .card h3 {
    font-size: 12px;
  }
  .card-container .card h3:nth-of-type(2) {
    font-size: 10px;
  }
  .card-container .card .circle {
    right: -70%;
  }

  @keyframes hvr {
    0% {
      box-shadow: -2px 2px 0px 0px #202020,
        -10px 10px 40px 0px rgba(0, 0, 0, 0.3);
      transform: translate(0px, 0px) rotateX(30deg) rotateZ(-20deg);
    }
    50% {
      transform: translate(0px, -20px) rotateX(30deg) rotateZ(-20deg);
      box-shadow: -2px 1px 0px 0px #202020, -40px 40px 40px 0 rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: -2px 2px 0px 0px #202020,
        -10px 10px 40px 0px rgba(0, 0, 0, 0.3);
      transform: translate(0px, 0px) rotateX(30deg) rotateZ(-20deg);
    }
  }
}

@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
}
